apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: velero
  namespace: flux-system
spec:
  releaseName: velero
  targetNamespace: velero
  chart:
    spec:
      chart: velero
      sourceRef:
        kind: HelmRepository
        name: vmware-tanzu
        namespace: flux-system
      version: "8.1.0"
  interval: 1h
  install:
    remediation:
      retries: -1
  values:
    # https://github.com/vmware-tanzu/helm-charts/blob/main/charts/velero/values.yaml
    upgradeCRDs: true
    cleanUpCRDs: true # disable in prod
    deployNodeAgent: true # DaemonSet for Pod Volume Backups
    backupsEnabled: true # Pod Volume Backups
    snapshotsEnabled: false # Volume Snapshots
    configuration:
      backupStorageLocation:
      # https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure/blob/main/backupstoragelocation.md
      - name: azure-mytestbucket
        provider: azure
        bucket: mytestbucket
        credential:
          name: backup-storage-locations
          key: azure-mytestbucket
        config:
          useAAD: true
          resourceGroup: velero-poc
          storageAccount: p1sveleropoc
          # storageAccountKeyEnvVar: AZURE_STORAGE_ACCOUNT_ACCESS_KEY
          subscriptionId: 76546707-01b4-4754-b18f-c5cfd2a86be2
    initContainers:
    - name: velero-plugin-for-microsoft-azure
      image: velero/velero-plugin-for-microsoft-azure:v1.11.0
      imagePullPolicy: IfNotPresent
      volumeMounts:
      - mountPath: /target
        name: plugins
