apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: csi-driver-nfs
  namespace: flux-system
spec:
  chart:
    spec:
      version: "4.12.1"
  values:
    controller:
      nodeSelector:
        node-role.kubernetes.io/control-plane: ""
      tolerations:
      - key: "node-role.kubernetes.io/control-plane"
        effect: "NoSchedule"
        operator: "Exists"
    storageClasses:
    - name: nfs-hot-retain
      parameters:
        server: 172.21.0.20
        share: /volume1/nfs-hot-tal-clu-1
        archiveOnDelete: "true"
      reclaimPolicy: Retain
      volumeBindingMode: Immediate
      mountOptions:
      - hard
      - nfsvers=4.1
      allowVolumeExpansion: true
    - name: nfs-hot-delete
      parameters:
        server: 172.21.0.20
        share: /volume1/nfs-hot-tal-clu-1
        archiveOnDelete: "true"
      reclaimPolicy: Delete
      volumeBindingMode: Immediate
      mountOptions:
      - hard
      - nfsvers=4.1
      allowVolumeExpansion: true
