apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: coredns
  namespace: flux-system
spec:
  chart:
    spec:
      chart: coredns
      sourceRef:
        kind: HelmRepository
        name: coredns
        namespace: flux-system
      version: "1.45.0"
  valuesFrom:
  - kind: ConfigMap
    name: coredns-helm-values
  values:
    prometheus:
      monitor:
        enabled: true
