# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: flux-system
resources:
- ../../../../../infra/network/coredns.yaml

patches:
- path: helm-patch.yaml

configMapGenerator:
- name: coredns-helm-values
  files:
  - values.yaml=helm-values.yaml
  options:
    disableNameSuffixHash: true
