apiVersion: v1
kind: Namespace
metadata:
  name: tailscale-operator
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tailscale-operator
  namespace: flux-system
spec:
  releaseName: tailscale-operator
  targetNamespace: tailscale-operator
  chart:
    spec:
      chart: tailscale-operator
      sourceRef:
        kind: HelmRepository
        name: tailscale
        namespace: flux-system
      version: "1.78.3"
  interval: 1h
  timeout: 10m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values: # https://github.com/tailscale/tailscale/blob/main/cmd/k8s-operator/deploy/chart/values.yaml
# create a secret for OAuth credentials
# apiVersion: v1
# kind: Secret
# metadata:
#   name: operator-oauth
#   namespace: tailscale-operator
# type: Opaque
# stringData:
#   client_id: ""
#   client_secret: ""
