apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: node-problem-detector
  namespace: flux-system
spec:
  chart:
    spec:
      chart: node-problem-detector
      sourceRef:
        kind: HelmRepository
        name: deliveryhero
        namespace: flux-system
      version: "2.3.22"
  values:
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
