apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: node-problem-detector
  namespace: flux-system
spec:
  chart:
    spec:
      version: "2.3.14"
  values:
    metrics:
      enabled: true
      serviceMonitor:
        enabled: false
