apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flux-operator
  namespace: flux-system
spec:
  interval: 1h
  chart:
    spec:
      chart: flux-operator
      version: "*"
      sourceRef:
        kind: HelmRepository
        name: controlplaneio-fluxcd
        namespace: flux-system
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
