apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flux-operator
  namespace: flux-system
spec:
  releaseName: flux-operator
  targetNamespace: flux-system
  chart:
    spec:
      chart: flux-operator
      sourceRef:
        kind: HelmRepository
        name: controlplaneio-fluxcd
        namespace: flux-system
  interval: 1h
  timeout: 10m
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values: # https://github.com/kubernetes-sigs/external-dns/blob/master/charts/external-dns/values.yaml
