apiVersion: v1
kind: Namespace
metadata:
  name: fluent-operator
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: fluent-operator
  namespace: flux-system
spec:
  releaseName: fluent-operator
  targetNamespace: fluent-operator
  chart:
    spec:
      chart: fluent-operator
      sourceRef:
        kind: HelmRepository
        name: fluent
        namespace: flux-system
      version: "3.1.0"
  interval: 1h
  install:
    remediation:
      retries: -1
  values: # https://github.com/fluent/helm-charts/blob/main/charts/fluent-operator/values.yaml
