apiVersion: v1
kind: Namespace
metadata:
  name: openobserve
  labels:
    pod-security.kubernetes.io/enforce: privileged
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openobserve
  namespace: flux-system
spec:
  releaseName: openobserve
  targetNamespace: openobserve
  chart:
    spec:
      chart: openobserve
      sourceRef:
        kind: HelmRepository
        name: openobserve
        namespace: flux-system
      version: "0.14.16"
  interval: 1h
  timeout: 10m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values: # https://github.com/openobserve/openobserve-helm-chart/blob/main/charts/openobserve/values.yaml
