apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openobserve-collector
  namespace: flux-system
spec:
  releaseName: openobserve-collector
  targetNamespace: openobserve
  chart:
    spec:
      chart: openobserve-collector
      sourceRef:
        kind: HelmRepository
        name: openobserve
        namespace: flux-system
      version: "0.3.21"
  interval: 1h
  timeout: 10m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values: # https://github.com/openobserve/openobserve-helm-chart/blob/main/charts/openobserve-collector/values.yaml
