apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cilium
  namespace: flux-system
spec:
  chart:
    spec:
      chart: cilium
      sourceRef:
        kind: HelmRepository
        name: cilium
        namespace: flux-system
      version: "1.17.1"
  valuesFrom:
  - kind: ConfigMap
    name: cilium-helm-values
  values:
    envoy:
      prometheus:
        serviceMonitor:
          enabled: true
    hubble:
      relay:
        prometheus:
          serviceMonitor:
            enabled: true
      metrics:
        prometheus:
          serviceMonitor:
            enabled: true
    operator:
      prometheus:
        serviceMonitor:
          enabled: true
    prometheus:
      serviceMonitor:
        enabled: true
