# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: flux-system
resources:
- ../../../../../infra/network/cilium.yaml
# - grafana-dashboard.yaml
# - ingress.yaml
- gateway.yaml
- l2-announcement.yaml
- lb-pool.yaml

patches:
- path: helm-patch.yaml

configMapGenerator:
- name: cilium-helm-values
  files:
  - values.yaml=helm-values.yaml
  options:
    disableNameSuffixHash: true
