# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
# - cilium.yaml
# - grafana-dashboard.yaml
# - ingress.yaml
- gateway-class.yaml
- l2-announcement.yaml
- lb-pool.yaml
