apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: test-secret
  namespace: default
spec:
  hostAPI: https://app.infisical.com/api
  resyncInterval: 10
  authentication:
    kubernetesAuth:
      credentialsRef:
        secretName: universal-auth
        secretNamespace: infisical-operator-system
      secretsScope:
        projectSlug: tal-clu-1-s-qem
        envSlug: prod
        secretsPath: "/"
        secretName: test-secret

  managedKubeSecretReferences:
  - secretName: test-secret
    secretNamespace: default
    creationPolicy: "Orphan"
