apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: test-secret
  namespace: default
spec:
  hostAPI: https://app.infisical.com/api
  resyncInterval: 10
  authentication:
    kubernetesAuth:
      identityId: 7fe8980b-fa91-4664-9b85-8faa5774b6e4 # tal-clu-1 @organization
      autoCreateServiceAccountToken: true
      serviceAccountRef:
        name: infisical-service-account
        namespace: default
      secretsScope:
        projectSlug: tal-clu-1-s-qem
        envSlug: prod
        secretsPath: '/'
        secretName: test-secret

  managedKubeSecretReferences:
  - secretName: test-secret
    secretNamespace: default
    creationPolicy: "Orphan"
    template:
      includeAllSecrets: true
      data:
        test: "{{ .KEY./ }} {{ .KEY.test-secret }}"
