apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: test-secret
  namespace: infisical-operator-system
  labels:
    label-to-be-passed-to-managed-secret: test
  annotations:
    example.com/annotation-to-be-passed-to-managed-secret: "test"
spec:
  hostAPI: https://app.infisical.com/api
  resyncInterval: 10
  authentication:
    kubernetesAuth:
      identityId: fdf8ec55-a38a-4cfd-a25c-9ef6eceb77e7 # tal-clu-1 @organization
      autoCreateServiceAccountToken: true
      serviceAccountRef:
        name: infisical-service-account
        namespace: infisical-operator-system
      secretsScope:
        projectSlug: tal-clu-1-s-qem
        envSlug: prod
        secretsPath: '/'
        secretName: test-secret

  managedKubeSecretReferences:
  - secretName: test-secret
    secretNamespace: infisical-operator-system
    creationPolicy: "Orphan"
    template:
      includeAllSecrets: true
      data:
        test-secret: "{{ .KEY./ }} {{ .KEY.test-secret }}"
