# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../../../../infra/network/tailscale-operator.yaml
- cluster-role-binding.yaml
- secret-sops-operator-oauth.yaml
patches:
- patch: |-
    apiVersion: helm.toolkit.fluxcd.io/v2
    kind: HelmRelease
    metadata:
      name: tailscale-operator
      namespace: flux-system
    spec:
      values:
        operatorConfig:
          hostname: tal-clu-1
        apiServerProxyConfig:
          mode: "true"
