apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: kubelet-serving-cert-approver
  namespace: flux-system
spec:
  url: https://github.com/alex1989hu/kubelet-serving-cert-approver.git
  interval: 24h
