apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kubelet-serving-cert-approver
  namespace: flux-system
spec:
  sourceRef:
    kind: GitRepository
    name: kubelet-serving-cert-approver
    namespace: flux-system
  path: "./deploy/standalone"
  targetNamespace: kube-system
  interval: 24h
  prune: true
