apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: node-feature-discovery
  namespace: flux-system
spec:
  chart:
    spec:
      version: "0.17.1"
  # values:
  #   worker:
  #     tolerations:
  #     - operator: \"Exists\" # schedule daemonSet pods on tainted nodes
