apiVersion: v1
kind: Namespace
metadata:
  name: reflector
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reflector
  namespace: flux-system
spec:
  releaseName: reflector
  targetNamespace: reflector
  dependsOn:
  - name: emberstack
    namespace: flux-system
  chart:
    spec:
      chart: reflector
      sourceRef:
        kind: HelmRepository
        name: emberstack
        namespace: flux-system
  interval: 1h
  install:
    remediation:
      retries: -1
  values: # https://github.com/emberstack/kubernetes-reflector/blob/main/src/helm/reflector/values.yaml
