cluster:
  allowSchedulingOnControlPlanes: false
  apiServer:
    image: registry.k8s.io/kube-apiserver:v1.34.2
    certSANs:
    - vip.tal-clu-1.hl.emerconn.com
    - cp-01.tal-clu-1.hl.emerconn.com
    - cp-02.tal-clu-1.hl.emerconn.com
    - cp-03.tal-clu-1.hl.emerconn.com
  controllerManager:
    image: registry.k8s.io/kube-controller-manager:v1.34.2
  coreDNS:
    disabled: true # manual deploy, then managed by Flux
  extraManifests: []
  # Commented because deployed via Flux
  # - https://raw.githubusercontent.com/alex1989hu/kubelet-serving-cert-approver/main/deploy/standalone-install.yaml
  # - https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml
  network:
    cni:
      name: none # use Cilium with manual deploy, then managed by Flux
  proxy:
    disabled: true # use Cilium with manual deploy, then managed by Flux
  scheduler:
    image: registry.k8s.io/kube-scheduler:v1.34.2

machine:
  install:
    # Image with intel-ucode, i915-ucode, iscsi-tools & btrfs
    image: factory.talos.dev/installer/0b4f48281e59712995bea152e8e62f3082be4ab66d2bdd0ca83cb3ce8c4509a9:v1.11.5
    wipe: true
    extraKernelArgs:
    # https://www.talos.dev/v1.8/talos-guides/configuration/performance-tuning/
    - talos.platform=metal
    - cpufreq.default_governor=performance
    - intel_idle.max_cstate=0
  sysctls:
    vm.max_map_count: 262144 # required for Wazuh/OpenSearch (ElasticSearch)
  kubelet:
    image: ghcr.io/siderolabs/kubelet:v1.34.2
    extraArgs:
      rotate-server-certificates: true # for metrics server
  network:
    interfaces:
    - interface: eno1
      routes:
      - network: 0.0.0.0/0
        gateway: 172.21.0.1
      vip:
        ip: 172.21.0.7
    nameservers:
    - 172.17.0.1
    extraHostEntries:
    - ip: 172.21.0.2
      aliases:
      - cp-01.tal-clu-1.hl.emerconn.com
    - ip: 172.21.0.3
      aliases:
      - cp-02.tal-clu-1.hl.emerconn.com
    - ip: 172.21.0.4
      aliases:
      - cp-03.tal-clu-1.hl.emerconn.com
    - ip: 172.21.0.8
      aliases:
      - w-01.tal-clu-1.hl.emerconn.com
    - ip: 172.21.0.7
      aliases:
      - vip.tal-clu-1.hl.emerconn.com
  time:
    servers:
    - time.cloudflare.com
