apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mongodb-community-operator
  namespace: mongodb-system
spec:
  releaseName: mongodb-community-operator
  targetNamespace: mongodb-system
  chart:
    spec:
      chart: community-operator
      sourceRef:
        kind: HelmRepository
        name: mongodb
        namespace: flux-system
      version: "0.12.0"
  interval: 1h
  timeout: 10m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values: # https://github.com/mongodb/helm-charts/blob/main/charts/community-operator/values.yaml
