apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mongodb-atlas-operator
  namespace: mongodb-system
spec:
  releaseName: mongodb-atlas-operator
  targetNamespace: mongodb-system
  chart:
    spec:
      chart: mongodb-atlas-operator
      sourceRef:
        kind: HelmRepository
        name: mongodb
        namespace: flux-system
      version: "2.6.1"
  interval: 1h
  timeout: 10m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values: # https://github.com/mongodb/helm-charts/blob/main/charts/atlas-operator-crds/values.yaml
