apiVersion: v1
kind: Namespace
metadata:
  name: csi-driver-nfs
  labels:
    pod-security.kubernetes.io/enforce: privileged
    pod-security.kubernetes.io/audit: privileged
    pod-security.kubernetes.io/warn: privileged
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: csi-driver-nfs
  namespace: flux-system
spec:
  releaseName: csi-driver-nfs
  targetNamespace: csi-driver-nfs
  chart:
    spec:
      chart: csi-driver-nfs
      sourceRef:
        kind: HelmRepository
        name: csi-driver-nfs
        namespace: flux-system
  interval: 1h
  install:
    remediation:
      retries: -1
  values: # https://github.com/kubernetes-csi/csi-driver-nfs/tree/master/charts
