apiVersion: apps/v1
kind: Deployment
metadata:
  name: unifi-network-application
  namespace: unifi-network-application
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: unifi-network-application
  template:
    metadata:
      labels:
        app: unifi-network-application
    spec:
      containers:
      - name: unifi-network-application
        image: lscr.io/linuxserver/unifi-network-application:9.5.21
        env:
        - name: PUID
          value: "1000"
        - name: PGID
          value: "1000"
        - name: TZ
          value: "America/Chicago"
        - name: MONGO_USER
          value: "unifi"
        - name: MONGO_PASS
          value: ""
        - name: MONGO_HOST
          value: "unifi-db"
        - name: MONGO_PORT
          value: "27017"
        - name: MONGO_DBNAME
          value: "unifi"
        - name: MONGO_AUTHSOURCE
          value: "admin"
        - name: MEM_LIMIT
          value: "1024"
        - name: MEM_STARTUP
          value: "1024"
        - name: MONGO_TLS
          value: ""
        resources:
          limits:
            memory: 1Gi
          requests:
            memory: 1Gi
        ports:
        - containerPort: 8443
          protocol: TCP
        - containerPort: 3478
          protocol: UDP
        - containerPort: 10001
          protocol: UDP
        - containerPort: 8080
          protocol: TCP
        volumeMounts:
        - name: unifi-data
          mountPath: /config
      volumes:
      - name: unifi-data
        persistentVolumeClaim:
          claimName: unifi-data
