apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: metrics-server
  namespace: flux-system
spec:
  chart:
    spec:
      version: "3.12.2"
  values:
    replicas: 4
    metrics:
      enabled: true
    serviceMonitor:
      enabled: true
