apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: headlamp
  namespace: flux-system
spec:
  chart:
    spec:
      version: "0.38.0"
  values:
    config:
      oidc:
        secret:
          create: false

    clusterRoleBinding:
      create: true
    serviceAccount:
      create: true
      name: headlamp

    nodeSelector:
      node-role.kubernetes.io/control-plane: ""
    tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      effect: "NoSchedule"
      operator: "Exists"
