apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: headlamp
  namespace: flux-system
spec:
  chart:
    spec:
      version: "0.38.0"
  values:
    clusterRoleBinding:
      create: true
    config:
      oidc:
        secret:
          create: false
    serviceAccount:
      create: true
      name: headlamp
