apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tetragon
  namespace: flux-system
spec:
  releaseName: tetragon
  targetNamespace: kube-system
  chart:
    spec:
      chart: tetragon
      sourceRef:
        kind: HelmRepository
        name: cilium
        namespace: flux-system
      version: "1.3.0"
  interval: 1h
  timeout: 10m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values: # https://github.com/cilium/tetragon/blob/main/install/kubernetes/tetragon/values.yaml
