apiVersion: v1
kind: Namespace
metadata:
  name: trivy-operator
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: trivy-operator
  namespace: trivy-operator
spec:
  releaseName: trivy-operator
  targetNamespace: trivy-operator
  chart:
    spec:
      sourceRef:
        kind: HelmRepository
        name: aqua
        namespace: flux-system
      chart: trivy-operator
      version: "0.25.0"
  interval: 1h
  timeout: 10m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values: # https://github.com/aquasecurity/trivy-operator/blob/main/deploy/helm/values.yaml
