apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: gateway-config
  namespace: flux-system
spec:
  interval: 1h
  path: "./k8s/flux/clusters/tal-clu-1/infra/network/gateway-api/config"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  healthChecks:
  - apiVersion: helm.toolkit.fluxcd.io/v2
    kind: HelmRelease
    name: cilium
    namespace: flux-system
