apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: csi-snapshotter-controller
  namespace: flux-system
spec:
  chart:
    spec:
      chart: snapshot-controller
      sourceRef:
        kind: HelmRepository
        name: piraeus
        namespace: flux-system
      version: "4.2.0"
  values:
    controller:
      nodeSelector:
        node-role.kubernetes.io/control-plane: ""
      tolerations:
      - key: "node-role.kubernetes.io/control-plane"
        effect: "NoSchedule"
        operator: "Exists"
      serviceMonitor:
        # TODO: create Grafana dashboard
        create: true
