apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: descheduler
  namespace: flux-system
spec:
  chart:
    spec:
      chart: descheduler
      sourceRef:
        kind: HelmRepository
        name: descheduler
        namespace: flux-system
      version: "0.34.0"
  values:
    kind: CronJob
    schedule: "*/10 * * * *"

    nodeSelector:
      node-role.kubernetes.io/control-plane: ""
    tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      effect: "NoSchedule"
      operator: "Exists"

    serviceMonitor:
      # TODO: create Grafana dashboard
      enabled: true
      namespace: kube-system
