# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

# not being used, see cloud instance

name: "Renovate"

on:
  workflow_dispatch:
  # schedule:
  #   - cron: "0 * * * *" # Every hour
  push:
    branches: ["main"]
    paths:
      - .github/renovate.json5

jobs:
  renovate:
    name: Renovate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Renovate
        uses: renovatebot/github-action@v44.0.4
        with:
          configurationFile: .github/renovate.json5
          token: ${{ secrets.RENOVATE_TOKEN }}
